.container {
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @include pad {
    max-width: 720px;
  }

  @include mobile {
    min-width: 100%;
  }
}

.contact-container {
  max-width: 760px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @include pad {
    max-width: 480px;
  }

  @include mobile {
    min-width: 100%;
  }
}
