<header class="bg-secondary">
  <div class="header-container d-flex justify-content-between align-items-center">
    <h1 class="logo">
      <a href="#">眼鏡電商</a>
    </h1>
    <input type="checkbox" class="navbar-toggle" id="navbar-toggle" />
    <nav class="nav">
      <ul class="menu-list d-flex text-white">
        <li class="list-item"><a class="list-item-link pt-2 pb-2" href="#">系列鏡框</a></li>
        <li class="list-item"><a class="list-item-link pt-2 pb-2" href="#">門市據點</a></li>
        <li class="list-item"><a class="list-item-link pt-2 pb-2" href="#">部落格</a></li>
        <li class="list-item"><a class="list-item-link pt-2 pb-2" href="#">常見問題</a></li>
      </ul>
    </nav>
  </div>
</header>
