.faq {
  .subtitle {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 36px;

    @include pad {
      margin-bottom: 32px;
    }

    @include mobile {
      font-size: 20px;
      line-height: 29px;
      font-weight: normal;
      margin-bottom: 24px;
    }
  }
}

.qa-group {
  margin-bottom: 32px;

  @include pad {
    margin-bottom: 24px;
  }

  @include mobile {
    margin-bottom: 20px;
  }

  .question {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 16px;

    @include mobile {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 8px;
    }
  }

  .answer-container {
    padding-left: 95px;

    @include pad {
      padding-left: 60px;
    }

    @include mobile {
      padding: 0;
    }

    .answer {
      font-size: 16px;
      line-height: 24px;

      @include mobile {
        font-size: 14px;
        line-height: 21px;

        .answer-sup {
          display: block;
          margin-top: 21px;
        }
      }
    }
  }
}
