$primary-color: #650300;
$secondary-color: #aa0601;
$text-gray-color: #707070;
$placeholder-color: rgba(0, 0, 0, 0.2);

$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
);

$pc-media: 992px;
$pcs-media: 991px;
$pad-media: 768px;
$pads-media: 767px;
